{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand">SnappFood</a>
        
        <nav class="navbar">
            <a href="{% url 'food:create_item' %}" class="nav-link">Add Item</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="nav-link">logout</a>
                <a href="{% url 'profile' %}" class="nav-link">Profile</a>
            {% else %}
                <a href="{% url 'login' %}" class="nav-link">Login</a>
                <a href="{% url 'register' %}" class="nav-link">Signup</a>                
            {% endif %}
            {% block extendnavbar %}
            {% endblock %}
        </nav>
        
    </nav>
    {% if messages %}
        {% for message in messages %}
            <div class=" alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block body %}
    {% endblock %}
</body>
</html> 
