{% extends 'food/base.html' %}
{% load i18n %}
{% block body %}
    <form method="POST">
        {% trans "Are you sure you want to delete"%} {{ item.Item_name }}
        {% csrf_token %}
          <button type="submit"  method="POST">{% trans "Confirm" %}</button>
    </form>    
{% endblock %}