{%extends 'food/base.html' %}
{% load i18n %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="card" src="{{ item.Item_image }}" height="300px"/>
        </div>
        <div class="col-md-6">
            <h1>{{ object.Item_name }}</h1>
            <h2>{{ object.Item_desc }}</h2>
            <h3>${{ object.Item_price }}</h3>
            <h3><a href="{% url 'food:delete_item' item.id %}">{% trans "delete" %}</a></h3>
        </div>
    </div>
</div>
{% endblock %}