{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>
{% block extendnavbar %}
    <form class="form-inline" method="GET" action="" name="foodsearch">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
 {% endblock %} 
    {% block body %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}
    <h6>{% trans "Your choosen language: " %} {{ LANGUAGE_CODE }}</h6>


    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" src="{{ item.Item_image }}" height="150px" width="150px">
            </div>
            <div class="col-md-4">
                <h3>{{ item.Item_name }}</h3>
                <h4>{{ item.Item_desc }}</h4>
                <h5>${{ item.Item_price }}</h5>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-success">Detials</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    {% endblock %}
    
</body>
</html>


<!-- <ul>
    <li>          
        <a href="{% url 'food:detail' item.id %}">{{item.pk}} -- {{item.Item_name}}</a>
    </li>
</ul> -->